<html>

  <head>
  </head>

  <body>

    <form action="/submit" method="post">
      ENTER COMMA SEPARATED VALUES FOR BOTH X-AXIS AND Y-AXIS
      <br>
      <input type="text" placeholder="X-AXIS" name="xaxis">
      <br>
      <input type="text" placeholder="Y-AXIS" name="yaxis">
      <br>
      <input type="radio" name="graph" value="plot" checked>plot<br>
      <input type="radio" name="graph" value="bargraph">bargraph<br>
      <input type="radio" name="graph" value="scatter">scatter 
      <input type="submit">
    </form>

  </body>

</html>
